<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' />
  </head>
  <body>
    <div id="applicationHost">
        <div class="splash">
            <i class="fa fa-spinner fa-spin splash-spin"></i>
        </div>
    </div>

    <script src="js/require/require.js" data-main="js/main"></script>
  </body>
</html>
