* {
  box-sizing: border-box;
}

// Separate universal psuedo selectors for performance
// Remove pointer-events to prevent overlays from being clickable

*:before,
*:after {
  box-sizing: border-box;
  pointer-events: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
